* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  padding: 20px;
  width: 100%;
  background-color: #f8d1f2;
  position: fixed;
  top: 0;
  justify-content: space-around;

}
#aboutMarcoZero {
  margin-top: 100px;
}
.pictureHomePlaces{
  display: flex;
  justify-content: center;

}
